<div class="mock-container">
    <div class="mock-container__info">
        <div class="mock-container__code">{{ code }}</div>
        <div class="mock-container__text">{{ text }}</div>
    </div>
    <div class="mock-container__back">
        {{>Link text='Назад к чатам' href='/chats/'}}
    </div>
</div>