<form class="search-form  {{#if className }} {{ className }}{{/if}}">
    <div class="search-form__placeholder">
        <img class="search-form__search-icon_center" src="../images/search-icon.png" />
        <span class="search-form__input_center">Поиск</span>
    </div>
    <div class="search-form__enter">
        <img class="search-form__search-icon" src="../images/search-icon.png" />
        <input class="search-form__input" name="search-input" type="text" />
    </div>
    
</form>