<form class="profile-main-form">
    {{> UserField name='first_name' type='text' title='Имя' value='Виктор' disabled='true' }}
    <div class="border-line"></div>

    {{> UserField name='second_name' type='text' title='Фамилия' value='Викторов' disabled='true' }}
    <div class="border-line"></div>

    {{> UserField name='display_name' type='text' title='Имя в чате' value='Виктор' disabled='true' }}
    <div class="border-line"></div>

    {{> UserField name='login' type='text' title='Логин' value='viktor' disabled='true' }}
    <div class="border-line"></div>

    {{> UserField name='email' type='text' title='Почта' value='victor@victor.com' disabled='true' }}
    <div class="border-line"></div>

    {{> UserField name='phone' type='tel' title='Телефон' value='+7 (999) 999 99 99' disabled='true' }}
    <div class="border-line"></div>

    {{> UserField name='oldPassword' type='password' title='Старый пароль' value='Виктор' disabled='true' }}
    <div class="border-line"></div>

    {{> UserField name='newPassword' type='password' title='Новый пароль' value='Виктор' disabled='true' }}

    {{> UserField className='hidden' name='avatar' type='text' title='' }}

</form>