<div class="profile-navigation-controls">
    {{> Link text='Изменить данные' }}
    <div class="border-line"></div>
    {{> Link text='Изменить пароль' }}
    <div class="border-line"></div>
    {{> Link text='Выйти' className='profile-navigation-controls_red-link' href='/login/' }}
</div>