<nav class="navigation-block">
    <ul class="navigation-block__ul">
        <li class="navigation-block__li">
            {{> Link text='Авторизация' href='/login/' }}
        </li>
        <li class="navigation-block__li">
            {{> Link text='Регистрация' href='/registration/' }}
        </li>
        <li class="navigation-block__li">
            {{> Link text='Список чатов' href='/chats/' }}
        </li>
        <li class="navigation-block__li">
            {{> Link text='Настройки пользователя' href='/profile/' }}
        </li>
        <li class="navigation-block__li">
            {{> Link text='Страница 404' href='/404/' }}
        </li>
        <li class="navigation-block__li">
            {{> Link text='Страница с 50** кодом ошибки' href='/500/' }}
        </li>
    </ul>
</nav>